<h1>Rents</h1>

<div class="btn-group" role="group">
  <button type="button" class="btn btn-default" ng-click="refreshData()">
    <i class="glyphicon glyphicon-refresh"></i> Refresh
  </button>
  <a type="button" class="btn btn-default" href="#/rent-entity">
    <i class="glyphicon glyphicon-plus"></i> Add
  </a>
</div>

<table ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="rent in $data">
        <td title="'Date From'" filter="{ DateFrom: 'text'}" sortable="'DateFrom'">
            {{rent.DateFrom}}
        </td>
        <td title="'Date To'" filter="{ DateTo: 'text'}" sortable="'DateTo'">
            {{rent.DateTo}}
        </td>
        <td title="'Car'" sortable="'CarType.Name'">
            {{rent.CarType.Name}} ({{rent.RegistrationNumber}})
        </td>
        <td title="'Client'" sortable="'FullName'">
            {{rent.FullName}} ({{rent.Phones}})
        </td>
        <td title="'Insurance Number'" sortable="'InsuranceNumber'">
            {{rent.InsuranceNumber}}
        </td>
        <td title="'Final Price'" sortable="'FinalPrice'">
            {{rent.FinalPrice}}
        </td>
        <td>
            <div class="btn-group" role="group">
                <a type="button" class="btn btn-default" ng-href="#/rent-entity/{{rent.Id}}">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <button type="button" class="btn btn-default" ng-click="deleteRecord(rent.Id)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </td>
    </tr>
</table>

<div class="btn-group" role="group">
  <button type="button" class="btn btn-default" ng-click="refreshData()">
    <i class="glyphicon glyphicon-refresh"></i> Refresh
  </button>
  <a type="button" class="btn btn-default" href="#/rent-entity">
    <i class="glyphicon glyphicon-plus"></i> Add
  </a>
</div>